@model GraphLabs.Site.Models.TestQuestion.EditTestQuestionModel

@{
    ViewBag.Title = "Создание тестового вопроса";
    @Styles.Render("~/Content/bootstrap")
}

<hgroup>
    <h2>@ViewBag.Title</h2>
    <a class="btn btn-primary" href="/survey/index">Обратно к списку</a>
    <a class="btn btn-danger" href="/survey/delete?testQuestionId=@Model.Id">Удалить вопрос</a>
</hgroup>
<br/>
<div id="systemMessage"></div>
    <div class="editor-label">
        Категория вопроса: <b> @Model.Category.Name </b>
       <br />
    </div>
    <div class="editor-label">
        <h3>Текст вопроса</h3>
    </div>
    <div class="editor-field">
        <input id="question" type="text" value="@Model.Question"/>
    </div>
<div id="questionId" hidden="true">@Model.Id</div>
<div id="categoryId" hidden="true">@Model.Category.Id</div>
<div id="categoryName" hidden="true">@Model.Category.Name</div>
    <table id="answers">
        <thead>
            <th>
                Варианты ответов
            </th>
            <th>
                Верность
            </th>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.AnswerVariants.Count(); ++i)
        {
            string myVar = "";
            if (Model.AnswerVariants.ElementAt(i).IsCorrect)
            {
                myVar = "checked";
            }
            <tr id="@i">
                <td>
                    <input type="hidden" value="@Model.AnswerVariants.ElementAt(i).Id" id="id_@i"/>
                    <input type="text" value="@Model.AnswerVariants.ElementAt(i).Answer" id="answer_@i"/>
                    <input type="hidden" value="@Model.Id" id="question_@i"/>
                </td>
                <td>
                    <input type="checkbox" @myVar id="isCorrect_@i"/>
                </td>
                <td>
                    <img title="Клонировать ответ" src="/Images/copy.png" onclick="copyOption(@i);"/>
                    <img title="Удалить ответ" src="/Images/_false.png" onclick="deleteOption(@i);"/>
                </td>
            </tr>
       }
        </tbody>
        </table>
    <input id="addOption" type="button" value="Добавить вариант ответа" onclick="addOption(@Model.Id);"/>
    <p>
        <input type="submit" value="Сохранить" onclick="sendModel();"/>
    </p>

@section Scripts
{
    @Scripts.Render("~/bundles/bootstrap");
    @Scripts.Render("~/bundles/Common/TestQuestion");
}